@{
    ViewData["Title"] = "Home Page";
}


<br />

<h1>
    Welcome to HackBuster. Your Source for VHS Movie Rentals!
</h1>
<br />

<h2>
    <a asp-controller="Home" asp-action="Registration"> User Registration</a> <br />

</h2>

<img src="~/Content/img/VHSTapes.jpg" width="500" height="333">

